:root{
  --primary-white: #fff;
  --background-white: #F6F6F9;
  --primary-black: #000;
  --primary-red: #922727;
  --secondary-black: #797979;
  --primary-grey: #CCCCCC;
  --secondary-grey: #F0F0F0;
  --light-red: #FFDEDE;
}