.search {

    &_container {
        position: relative !important;
        width: 100% !important;
    }

    &_input {
        margin: 20px 20px 20px 20px !important;
        width: 100% !important;
    }
}